.col-md-4 .card:hover {
    box-shadow: -.2rem 1.9rem 6.6rem -3.2rem rgba(0, 0, 0, 0.5);
    background-color: #93e3f1;
    font-size: 15px;
}

/* card */

/* card end */



.title_uz{
    background-image: url('../images/istockphoto-1218797844-612x612.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

/* Main heading for card's front cover */
.card-front__heading {
    font-size: 1.5rem;
    margin-top: .25rem;
}

/* Main heading for inside page */
.inside-page__heading {
    padding-bottom: 1rem;
    width: 100%;
}

/* Mixed */

/* For both inside page's main heading and 'view me' text on card front cover */
.inside-page__heading,
.card-front__text-view {
    font-size: 1.3rem;
    font-weight: 800;
    margin-top: .2rem;
}

.inside-page__heading--city,
.card-front__text-view--city {
    color: #2aaac1;
}

.inside-page__heading--ski,
.card-front__text-view--ski {
    color: #2aaac1;
}

.inside-page__heading--beach,
.card-front__text-view--beach {
    color: #2aaac1;
}

.inside-page__heading--camping,
.card-front__text-view--camping {
    color: #2aaac1;
}

/* Front cover */

.card-front__tp {
    color: #fafbfa;
}

/* For pricing text on card front cover */
.card-front__text-price {
    font-size: 1.2rem;
    margin-top: -.2rem;
}

/* Back cover */

/* For inside page's body text */
.inside-page__text {
    color: #333;
}

/* Icons ===========================================*/

.card-front__icon {
    fill: #fafbfa;
    font-size: 3vw;
    height: 3.25rem;
    margin-top: -.5rem;
    width: 3.25rem;
}

/* Buttons =================================================*/

.inside-page__btn {
    background-color: transparent;
    border: 3px solid;
    border-radius: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 2rem;
    overflow: hidden;
    padding: .2rem .10rem;
    position: relative;
    text-decoration: none;
    transition: all .3s ease;
    width: 90%;
    z-index: 10;
}

.inside-page__btn::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleY(0);
    transition: all .3s ease;
    width: 100%;
    z-index: -1;
}

.inside-page__btn--city {
    border-color: #279eb2;
    color: #279eb2;
}

.inside-page__btn--city::before {
    background-color: #279eb2;
}

.inside-page__btn--ski {
    border-color: #279eb2;
    color: #279eb2;
}

.inside-page__btn--ski::before {
    background-color: #279eb2;
}

.inside-page__btn--beach {
    border-color: #279eb2;
    color: #279eb2;
}

.inside-page__btn--beach::before {
    background-color: #279eb2;
}

.inside-page__btn--camping {
    border-color: #279eb2;
    color: #279eb2;
}

.inside-page__btn--camping::before {
    background-color: #279eb2;
}

.inside-page__btn:hover {
    color: #fafbfa;
}

.inside-page__btn:hover::before {
    transform: scaleY(1);
}

/* Layout Structure=========================================*/

.main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    width: 100%;
   
}

/* Container to hold all cards in one place */


/* Card ============================================*/

/* Area to hold an individual card */
.card-section {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

/* A container to hold the flip card and the inside page */
.card {
    margin-top: 20px;
    border: none;
    height: 15rem;
    position: relative;
    transition: all 1s ease;
    width: 15rem;
    margin-bottom: 30px;
}

.card svg {

    color: #2aaac1;
}

.card-body {
    text-align: center;
}

/* Flip card - covering both the front and inside front page */

/* An outer container to hold the flip card. This excludes the inside page */
.flip-card {
    height: 15rem;
    perspective: 100rem;
    position: absolute;
    right: 0;
    transition: all 1s ease;
    visibility: hidden;
    width: 15rem;
    z-index: 100;
}

/* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
/* This is done so content in the inside page can be selected */
.flip-card>* {
    visibility: visible;
}

/* An inner container to hold the flip card. This excludes the inside page */
.flip-card__container {
    height: 100%;
    position: absolute;
    right: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: all 1s ease;
    width: 100%;
}

.card-front,
.card-back {
    backface-visibility: hidden;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Styling for the front side of the flip card */

/* container for the front side */
.card-front {
    background-color: #fafbfa;
    height: 15rem;
    width: 15rem;
}

/* Front side's top section */
.card-front__tp {
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
    display: flex;
    flex-direction: column;
    height: 12rem;
    justify-content: center;
    padding: .75rem;
}

.card-front__tp--city {
    background: linear-gradient(to bottom,
        #47c2d7,
        #279eb2);
}   

.card-front__tp--ski {
    background: linear-gradient(to bottom,
            #47c2d7,
            #279eb2);
}

.card-front__tp--beach {
    background: linear-gradient(to bottom,
        #47c2d7,
        #279eb2);
}

.card-front__tp--camping {
    background: linear-gradient(to bottom,
        #47c2d7,
        #279eb2);
}

/* Front card's bottom section */
.card-front__bt {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Styling for the back side of the flip card */

.card-back {
    background-color: #fafbfa;
    transform: rotateY(180deg);
}

/* Specifically targeting the <video> element */
.video__container {
    height: auto;
    min-height: 100%;
    object-fit: cover;
    width: 100%;
   
}
.video__media {
    height: auto;
    min-height: 100%;
    object-fit: cover;
    width: 100%;
}

/* Inside page */

.inside-page {
    background-color: #fafbfa;
    box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.25);
    height: 100%;

    position: absolute;
    right: 0;
    transition: all 1s ease;
    width: 15rem;
    z-index: 1;
}

.inside-page a {
    text-align: center;

}

.inside-page__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    width: 100%;
}

/* Functionality ====================================*/

/* This is to keep the card centered (within its container) when opened */
.card:hover {
    box-shadow:
        -.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.75);
    width: 30rem;
}

/* When the card is hovered, the flip card container will rotate */
.card:hover .flip-card__container {
    transform: rotateY(-180deg);
}

/* When the card is hovered, the shadow on the inside page will shrink to the left */
.card:hover .inside-page {
    box-shadow: inset 3rem 3rem 6rem 3rem rgba(0, 0, 0, 0.3);
}

/* Footer ====================================*/

.footer {
    background-color: #333;
    margin-top: 3rem;
    padding: 1rem 0;
    width: 100%;
}

.footer-text {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .main {

        margin-top: 100px;
        margin-bottom: 100px;
    }


    .con_1 {
        margin-top: 200px;
    }
    .con_2 {
        padding-bottom: 200px;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 100%;
    }
    
   
    .col-md-8 {
        width: 100%; 
    }
    .loyiha {
        display: block;
      
    }
}

@media screen and (max-width: 992px) {
    .main {

        margin-top: 180px;
        margin-bottom: 300px;
    }

    .con_1 {
        margin-top: 200px;
    }
    .con_2 {
        padding-bottom: 200px;
    }
    .col-md-3 {
        width: 50%;
    }
    .col-md-4 {
        width: 100%;
    }
    
 
    .col-md-8 {
        width: 100%; 
    }
    .loyiha {
        display: none;
      
    }
    .colls {
        display: flex;
        align-items: center;
        
    }
}

@media screen and (max-width: 768px) {
    .main {

        margin-top: 180px;
        margin-bottom: 300px;
    }
   
    .con_1 {
        margin-top: 400px;
    }
    .con_2 {
        padding-bottom: 400px;
    }
    .col-md-3 {
        width: 50%;
    }
    .loyiha {
        display: block;
      
    }
  

}

@media (max-width: 576px){
    .main {
        padding-top: 700px;
       margin-bottom: 900px;
    }
    .con_1 {
        margin-top: 800px;
    }  
    .con_2 {
        margin-bottom: 500px;
    }
    .aos-init {
        margin-bottom: 50px;
    }
    .col-md-3 {
        width: 100% !important;
       
    }

}
@media (max-width: 480px){
    .con_1 {
        margin-top: 1400px;
    }
    .con_2 {
        margin-bottom: 1200px;
    }
    .aos-init {
        margin-bottom: 50px;
    }
    .col-md-3 {
        width: 100%;
       
    }
    .colls {
        padding-top: 400px;
    }
    .container.con_2 .row {
        padding-bottom: 200px;
    }

}
@media screen and (max-width: 768px) {
    .title_uz {
        font-size: 1.2rem !important;
    }
}
@media screen and (max-width: 576px) {
    .title_uz {
        font-size: 0.8rem !important;
    }
}
/* add  */
/* .con_2 {
    padding-top: 20px;
} */


.summary {
    font-size: 18px;

}

.summary summary {
    padding: 5px;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px #06BBCC;
}

.summary p {
    padding: 5px;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px #06BBCC;
    background-color: bisque;
}
.loyiha {
    display: flex;
    align-items: center;
    justify-content: center;
}
.loyiha .we{
    vertical-align: middle;
}

.loyiha img {
    text-align: center;
    max-width: 200px;
    padding: 4px;
    margin: 4px;
    max-height: 200px;
}

.loyiha .right_about {
    display: flex;
    padding: 4px;
}

.hero-bg-2 {
    position: relative;
    margin-bottom: -400px;
    float: right;
    width: 400px;
    height: 400px;
}


.left-right-animation{
  
    animation-name: none;
    animation-name: test_05;
    animation-name: -specific;
    animation-name: sliding-vertically;
    animation: fadeIn 1s infinite alternate;
  }
  

  .circle {
   
    --w: 100px;
    align-items: center;
    border-radius: 50%;
    
    display: flex;
    height: var(--w);
    justify-content: center;
    margin-bottom: 1rem;
    width: var(--w);
  }
  .a-pulse {
    --animdur: 1s;
    --animn: pulse;
    will-change: transform;
  }
  .a-slide {
    --animdur: 5s;
    --animn: slide;
  }
  [data-animation] {
    animation: var(--animn, none) var(--animdur, 0s) var(--animtf, linear) var(--animdel, 0s) var(--animic, infinite) var(--animdir, alternate) var(--animfm, none) var(--animps, running);
  }

  /* KEYFRAMES */
  @keyframes opacity {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(.9);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes slide {
    from { margin-left: 0%; }
    to { margin-left: calc(20% - var(--w, 150px)); }
  }

 