.text-muted {
    background-image: url("../images/footer-background-2.jpg");
    opacity: 20;
    color: aliceblue !important;
    background-repeat: no-repeat;
    background-size: cover;
   
    bottom: 0;
    width: 100%;
}


.text-muted h6{
    text-align: left;
}


.text-muted p {
    text-align: left;
}